services:
  frontend-test:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run test
    environment:
      - NODE_ENV=test

# Keep the below uncommented to prevent warning when running tests while dev containers are up
  frontend:
    profiles:
      - dev
  api:
    profiles:
      - dev
  db:
    profiles:
      - dev